body { background-color: black;
  
}

#wrapper { width: 1200px;
 height: 570px;
 margin: 0 auto;
 background-color: black;

}

#header{
    width: 1200px;
    height: 100px;
    text-align: left;
    background-color: black;
    margin: 0 auto;
font-family: Montserrat, sans-serif;
}

/*Menu de la page*/
:root{
  --hauteur-menu: 60px;
}


#nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  background-color: maroon;
}

#nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}
 
#nav ul {
  list-style-type: none;
}

#nav > ul > li {
  background-color: maroon;
  position: relative;
  height: 100%;
  flex: 1;
}

#nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav > ul > li > ul > li > a{
  color: black;
}

img{
  width: 500px;
  height: 300px;
}

li a {
  text-decoration: none;
  color: white;
}

li div a{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}

font{
  font-family: "satan's island", sans-serif;
  color: red;
  font-size: 600%;
}

td > input[type=text], input[type=email]{
  width: 200px;
  height: 30px;
}

td > input[type=submit]{
  width: 100px;
  height: 25px;
}

input[type=text]{
  color: white;
}

td{
  color: white;
  font-size: 50%;
}

td > input{
  margin-left: 10px;
}

table{
  padding: 30px;
  border: 1px solid white;
  color: white;
}

th{
  font-size: 50%;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

#nav > ul > li:hover > a{
  color: red;
}

.sous-menu > li:hover {
  background-color: rgba(236, 10, 26, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid red;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid red;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
/*fin menu*/



#section{
    width: 600px;
    height: 350px;
    background-color: black;
    margin-bottom: 0 px;
    padding-left: 25%;
    font-size: 220%;
}

php{
  color: white;
  font-size: 50%;
}

#section > table > tr > td > a{
  margin-left: 200px;
}

#section > p{
  font-size: 50%;
  color: white;
}

#section>p>a
{ 
  color: red;
}

.contact { font-family: Montserrat, sans-serif;
 font-size: .90em;
 font-weight:bold;
}

#footer>p>a
{ 
  color: white;
}

#footer>dd>ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#footer>dd>ul>li{
  margin-left: 2px;
  float: left;
  padding-right: 130px;
  padding-left: 20px;
}

#footer { 
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    margin-top: 200px;
    border-top: 10px;
    font-size: 90%;
    padding-bottom: 10px;

}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}
.carousel-item {
    margin-left: 1rem;
}

